.section-make-burger {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

.section-make-burger-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

.section-make-burger-item {
    width: calc((100% - 40px) / 2);
}

