.wrapper {
  position: relative;
}

.loader {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}

.loader_no_offset_top {
  position: absolute;
  left: calc(50% - 100px);
}

::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #2F2F37;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  height: 8px;
  background-color: #8585AD;
}