.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  margin-right: auto;
  margin-left: auto;
}

/* Костыль! В инпутах забита ширина 320px, а по макету нужно 480 */
.wrapper > * > * {
  width: 480px;
}

.link {
  text-decoration: none;
  color: #4C4CFF;
}