.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 520px;
}

.name {
  text-align: center
}

.info-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.info-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nutrition-type-name {
  font-family: 'Jet Brains Mono';
}