.burger-constructor-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.burger-constructor-list-item-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

