.burger-constructor {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 812px;
  overflow-y: auto; 
}

.burger-constructor-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding-left: 0;
  max-height: 462px;
  overflow-y: auto;
}

.burger-constructor-list::-webkit-scrollbar {
  display: block;
  width: 8px;
}
.burger-constructor-list::-webkit-scrollbar-track {
  background-color: #2F2F37;
  width: 8px;
}
    
.burger-constructor-list::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #8585AD;
}

.burger-constructor-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.burger-constructor-list-item-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.burger-constructor-summary-and-offer-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.burger-constructor-summary {
  display: flex;
  align-items: center;
}