.burger-constructor {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 812px;
  overflow-y: auto;
}

.burger-constructor-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding-left: 0;
  max-height: 464px;
  overflow-y: auto;
}

.burger-constructor-summary-and-offer-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.burger-constructor-summary {
  display: flex;
  align-items: center;
}
